<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<title>Beansdb Info</title> 
<link rel="stylesheet" href="/static/mfs.css" type="text/css" /> 
<script>setInterval("location.reload()",10000)</script>
</head> 
<body> 
<div id="header">
{{template "header.html" .}}
</div> 

<div id="container"> 

{{if in .sections "IN"}}
{{template "info.html" .}}<br/>
{{template "matrix.html" .}}<br/>
{{end}}

{{if in .sections "SS"}}
{{template "server.html" .proxy_stats}}<br/>
{{template "server.html" .server_stats}}<br/>
{{end}}

{{if in .sections "ST"}}
{{template "stats.html" .}}<br/>
{{end}}

</div> <!-- end of container --> 
</body> 
</html> 
